kumuluzee:
  name: ocena-service
  version: 1.0.0
  env:
    name: dev
  server:
    base-url: http://localhost:8080
    http:
      port: 8080
  cors-filter:
    servlet:
      allow-origin: "*"
  datasources:
    - jndi-name: jdbc/ocenaDS
      connection-url: jdbc:postgresql://ocenaservice:5432/ocena
      username: postgres
      password: postgres
      max-pool-size: 20